.main-wrapper {
  width: 90%;
  margin: 0 auto;
}
.main-title {
  margin-top: 15px;
  font-size: 16px;
}
.search-form {
  margin-top:  15px;
}
.post-key {
  font-weight: bold;
  display: inline-block;
  text-transform: capitalize;
}
.post-data {
  display: inline-block;
}
.post-container {
  margin-bottom: 20px;
}